.page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

 .pageRight {
    padding: 3vw;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: 1.3rem;
}

a:hover {
    cursor: pointer;
}

.pageRight p {
    letter-spacing: 0.1em;
}

/* mobiles and tablets */
@media (max-width: 1023px) {
    .page {
        flex-direction: column;
    }

    .pageRight {
        height: 85vh;
        width: 100vw;
    }
} 

/* laptops */
@media (min-width: 1024px) {
    .pageRight {
        width: 85vw;
        height: 100vh;
    }
} 