.page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.pageRight {
    display: flex;
    padding: 2vw;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    font-family: Inter;
    gap: 2em;
    flex-direction: column;
    max-width: 1225px;
    margin: 0 auto;
}

.yuvikaImg {
    width: 50%;
    height: 50%;
}

.edurite {
    display: flex;
    justify-content: space-between;
}

.eduriteText {
    width: 75%;
}

.edurite p {
    margin-top: 1em;
    font-size: 1.1rem;
}

.roots {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rootsText {
    height: 100%; /* sketchy */
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.roots p {
    font-size: 1.1rem;
}

.roots img {
    width: 15%;
    height: auto;
}

.details {
    width: 90%;
    align-self: flex-start;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

li {
    list-style: none;
}

.footerImages {
    display: flex;
    justify-content: space-between;
}

.footerImages img {
    width: 45%;
    height: auto;
}

/* mobiles and tablets */
@media (max-width: 1023px) {
    .page {
        flex-direction: column;
    }

    .edurite img {
        width: 30%;
        height: 50%;
    }
}

/* laptops */
@media (min-width: 1024px) {
    .pageRight {
        width: 85vw;
        height: 100vh;
    }

    .edurite img {
        align-self: flex-start;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    
}